.recent-posts{
    margin-top: 1em;
    border: 12px solid lightgray;
    padding: 1em;
}
.sidebar-widget {
    border: 20px solid #efefef;
    margin-bottom: 2em;
    padding: 1em;
    text-align: initial;
}
.widget-title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    color: #143774;
    font-size: 1.688rem;
}
