.main-title{
    font-weight: 400;
    font-family: 'Lora', serif;
    margin-top: 0;
    color: #143774;
    margin-bottom: -0.05em;
}
.sub-title{
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
    text-transform: uppercase;
}
