.subPost-image{
    width: 30%;
}
.widget-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #707070;
    margin-bottom: 1em;
}
.widget-recent-post-last-child{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.widget-image {
    order: -1;
    max-width: 100%;
    display: block;
}
.widget-post-title {
    color: #143774;
    margin-top: 1em;
    font-weight: 400;
    font-family: 'Lora', serif;
    font-size:1.316rem;
}